*.vsix
scsa

# Cmake
build/
bin/
lib/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
compile_commands.json
Makefile
CTestTestfile.cmake
Testing/
generated/
.cache/

# Compile stuff
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.exe
*.out
*.app
*.d

# IDEs
.vscode/
.idea/
*.swp
*.swo
.DS_Store
